<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<targets>
		<target xsi:type="File"
						name="debugFile"
						fileName="debug.txt"
						layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}"
						encoding="utf-8"
						archiveNumbering="DateAndSequence"
						archiveAboveSize="100000000"/>
		<target xsi:type="null" name="null" formatMessage="false" />
	</targets>

	<rules>
		<!--<logger name="ADD-NAMESPACE-TO-TRACE.*" minlevel="Trace" writeTo="debugFile" />-->
	</rules>
</nlog>