language: csharp
mono: none
dotnet: 2.0.0
matrix:
  include:
    - os: linux # Ubuntu 14.04
      dist: trusty
      sudo: required      
    - os: osx # OSX 10.12
      osx_image: xcode8.1      

# branches to build 
branches:
  only:
    - master

# Work around NuGet issue #2163
# https://github.com/NuGet/Home/issues/2163
# https://github.com/travis-ci/travis-ci/issues/7728
before_install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then ulimit -n 1024; fi

script:
  - chmod +x build.sh
  - ./build.sh