#  reference: https://www.appveyor.com/docs/appveyor-yml/

# you can use {branch} name in version format too
# version: 1.0.{build}-{branch}

version: 1.0.2.{build}
pull_requests:
  do_not_increment_build_number: true
skip_tags: true


# branches to build 
branches:
  # whitelist
  only:
    - master

#---------------------------------#
#    environment configuration    #
#---------------------------------#

image: Visual Studio 2017
clone_folder: c:\projects\fullnode

configuration:
- Debug
- Release

init:
- ps: dotnet --info

#---------------------------------#
#       build configuration       #
#---------------------------------#
before_build:
- ps: |
      Write-Host "[$env:configuration] STARTED dotnet restore" -foregroundcolor "magenta"
      
      # Initialize dependencies
      git submodule update --init --recursive

      dotnet restore -v m
      Write-Host "[$env:configuration] FINISHED dotnet restore" -foregroundcolor "magenta"
      if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode) }
    
build_script:
- ps: |
      Write-Host "[$env:configuration] STARTED dotnet build" -foregroundcolor "magenta"
      dotnet build -c $env:configuration -v m 
      Write-Host "[$env:configuration] FINISHED dotnet build" -foregroundcolor "magenta"
      if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode)  }

# scripts to run after build
after_build:
- ps: |
      if($env:configuration -eq 'Release')
      {
        Write-Host "[$env:configuration] STARTED dotnet pack" -foregroundcolor "magenta"
        
        cd Stratis.Bitcoin
        dotnet pack -c $env:configuration -v m --no-build -o $env:APPVEYOR_BUILD_FOLDER\nuget\
        
        cd ../Stratis.Bitcoin.Api
        dotnet pack -c $env:configuration -v m --no-build -o $env:APPVEYOR_BUILD_FOLDER\nuget\

        cd ../Stratis.Bitcoin.Features.LightWallet
        dotnet pack -c $env:configuration -v m --no-build -o $env:APPVEYOR_BUILD_FOLDER\nuget\
        
        Write-Host "[$env:configuration] FINISHED dotnet pack" -foregroundcolor "magenta"
      }

      if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode)  }
    
test_script:
- ps: |
      Write-Host "[$env:configuration] STARTED dotnet test" -foregroundcolor "magenta"
      cd $env:APPVEYOR_BUILD_FOLDER
      
      dotnet test -c $env:configuration ./Stratis.Bitcoin.Tests/Stratis.Bitcoin.Tests.csproj
      dotnet test -c $env:configuration ./Stratis.Bitcoin.Features.IndexStore.Tests/Stratis.Bitcoin.Features.IndexStore.Tests.csproj
      dotnet test -c $env:configuration ./Stratis.Bitcoin.Features.Wallet.Tests/Stratis.Bitcoin.Features.Wallet.Tests.csproj
      dotnet test -c $env:configuration ./Stratis.Bitcoin.Features.WatchOnlyWallet.Tests/Stratis.Bitcoin.Features.WatchOnlyWallet.Tests.csproj
      dotnet test -c $env:configuration ./Stratis.Bitcoin.Features.RPC.Tests/Stratis.Bitcoin.Features.RPC.Tests.csproj
      
      Write-Host "[$env:configuration] FINISHED dotnet test" -foregroundcolor "magenta"
      if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode)  }

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

# pushing all files in build directory recursively
artifacts:
- path: nuget\*.nupkg
  name: nuget packages
