@{
   ViewData["Title"] = "Null Node";
}


<h1 class="text-danger">Node not started</h1>
<h2 class="text-danger">Waiting node start</h2>

<p>
   In order to use the dashboard, the attached node must be started
</p>