@{
   ViewData["Title"] = "Null Node";
}


<h1 class="text-danger">Null Node</h1>
<h2 class="text-danger">No node attached to the dashboard</h2>

<p>
   In order to use the dashboard, a node must be attached to it
</p>