<partial name="Loader" />

<!-- Modal Enable F. -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="enableF" tabindex="-1" role="dialog" aria-labelledby="enableF" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Enable Federation</h5>
            </div>
            <div class="modal-body">
                <p class="text-muted my-2 text-center">Some text explaining what this does</p>
                <form class="my-3" data-ajax="true" asp-controller="SidechainNode" asp-action="EnableFederationAsync" data-ajax-begin="BeginAction();" data-ajax-complete="CompleteAction();" data-ajax-success="HideModals();EnabledFederation();" data-ajax-failure="EnableFederationFailed">
                    <div class="form-group">
                        <label for="Mnemonics">Mnemonics</label>
                        <input type="text" class="form-control" autocomplete="off" name="mnemonic" id="Mnemonics" aria-describedby="Mnemonics" placeholder="Enter Mnemonics here">
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" autocomplete="off" name="password" id="Password" placeholder="Password here">
                    </div>
                    <button type="submit" class="btn btn-primary d-flex justify-content-end ml-auto">Enable Federation</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Modal Enable F. -->

@if(ViewBag.NodeUnavailable)
{
    @section Scripts
    {
        <script type="text/javascript">
        $(document).ready(function()
        {
            Snackbar.show({text: "The full nodes API are unavailable", pos: "bottom-center", duration: 0, actionText: 'REFRESH', onActionClick: function(element) {document.location.reload();}});
            setTimeout(function() {
                document.location.reload();
            }, 10000);
        });
        </script>
    }
}
else
{
    @section Scripts
    {
        <script type="text/javascript">
        $(document).ready(function()
        {
            setTimeout(function() {
                document.location.reload();
            }, 3000);
        });
        </script>
    }
}