<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="BlockDirectory" value=""/>
	<add key="Azure.AccountName" value=""/>
	<add key="Azure.Key" value=""/>

	<!--Prefix used before container and azure table (alpha num, optional, ex : prod)-->
	<add key="StorageNamespace" value=""/>

	<!--Directory where the indexer keep track of its work (optional)-->
	<add key="MainDirectory" value=""/>

	<!--main or test-->
	<add key="Bitcoin.Network" value=""/>

	<!--Connection to local node, only for mempool and current chain indexation (ex : localhost[:8333], if no port is specified, takes default one)-->
	<add key="Node" value=""/>

</appSettings>