<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!--Azure Storage account-->
	<add key="Azure.AccountName" value="devstoreaccount1"/>
	<!--Azure Storage account key-->
	<add key="Azure.Key" value="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="/>
	<!--Prefix used before container and azure table (alpha num, optional, ex : prod)-->
	<add key="StorageNamespace" value="new"/>
	<!-- Identifier for isolating checkpoints accross several indexer instances (default: default)-->
	<add key="CheckpointSetName" value=""/>
	<!--main or test (default: main)-->
	<add key="Bitcoin.Network" value="main"/>
	<!--Connection to local node, only for mempool and current chain indexation (ex : localhost[:8333], if no port is specified, takes default one)-->
	<add key="Node" value="localhost"/>

  <add key="AzureStorageEmulatorUsed" value="true"/>
</appSettings>