<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="defaultOutputFormat" value="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}"/>
  <targets>
    <!--=============== STRATIS FN SECTION ===============-->
    <!-- API -->
    <target name="debugApiFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="api.txt" archiveEvery="Day" archiveFileName="api.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>
    <!-- BLOCK STORE -->
    <target name="debugBlockStoreFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="blockstore.txt" archiveEvery="Day" archiveFileName="blockstore.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

    <!-- CONSENSUS -->
    <target name="debugConsensusFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="consensus.txt" archiveEvery="Day" archiveFileName="consensus.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>
    <target name="debugCHTandCMFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="CHTandCM.txt" archiveEvery="Day" archiveFileName="CHTandCM.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>
    <target name="debugCoinViewsFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="coinview.txt" archiveEvery="Day" archiveFileName="coinview.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

    <!-- DNS -->
    <target name="debugDnsFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="dns.txt" archiveEvery="Day" archiveFileName="dns.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

    <!-- LIGHT WALLET -->
    <target name="debugLightWalletFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="lightWallet.txt" archiveEvery="Day" archiveFileName="lightWallet.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

    <!-- MEMORY POOL -->
    <target name="debugMemoryPoolFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="mempool.txt" archiveEvery="Day" archiveFileName="mempool.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

      <!-- MINER -->
    <target name="debugMinerFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="miner.txt" archiveEvery="Day" archiveFileName="miner.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

      <!-- NOTIFICATIONS -->
    <target name="debugNotificationsFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="notifications.txt" archiveEvery="Day" archiveFileName="notifications.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

      <!-- RPC -->
    <target name="debugRPCFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="rpc.txt" archiveEvery="Day" archiveFileName="rpc.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

    <!-- WALLET -->
    <target name="debugWalletFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="wallet.txt" archiveEvery="Day" archiveFileName="wallet.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

    <!-- WATCH ONLY WALLET -->
    <target name="debugWatchOnlyWalletFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="watchonlywallet.txt" archiveEvery="Day" archiveFileName="watchonlywallet.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

    <!-- BASE -->
    <target name="debugBaseFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="base.txt" archiveEvery="Day" archiveFileName="base.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>
    <target name="debugCMBFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="CBM.txt" archiveEvery="Day" archiveFileName="CBM.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>
    <target name="debugTimeSyncFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">    
      <target xsi:type="File" fileName="timesync.txt" archiveEvery="Day" archiveFileName="timesync.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>    

    <!-- BLOCK PULLER -->
    <target name="debugBlockPullerFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="blockpuller.txt" archiveEvery="Day" archiveFileName="blockpuller.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

    <!-- CONNECTION -->
    <target name="debugConnectionFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="connection.txt" archiveEvery="Day" archiveFileName="connection.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

    <!-- P2P -->
    <target name="debugP2pFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="p2p.txt" archiveEvery="Day" archiveFileName="p2p.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>
    
    
    <!--=============== FEDERATION SECTION ===============-->
    <!-- FederationSetup -->
    <target name="debugFederationSetupFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="federationSetup.txt" archiveEvery="Day" archiveFileName="federationSetup.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>
    
    <!-- Federation gateway -->
    <target name="debugFederationGatewayFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="fedGateway.txt" archiveEvery="Day" archiveFileName="fedGateway.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>

    <!-- Dashboard -->
    <target name="debugDashboardFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="dashboard.txt" archiveEvery="Day" archiveFileName="dashboard.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" />
    </target>  
    
    <!-- PoA -->
    <target name="debugPOAFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="poa.txt" archiveEvery="Day" archiveFileName="poa.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8" /> 
    </target>    
    
    <!-- SmartContracts -->
    <target name="debugSmartcontractsfile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000" timeToSleepBetweenBatches="500" optimizeBufferReuse="true">
      <target xsi:type="File" fileName="smartcontracts.txt" archiveEvery="Day" archiveFileName="smartcontracts.{#}.txt" archiveNumbering="DateAndSequence"  archiveDateFormat="yyyy-MM-dd" archiveAboveSize="314572800" maxArchiveFiles="14" layout="${defaultOutputFormat}" encoding="utf-8"/> 
    </target>
    
    <target xsi:type="null" name="null" formatMessage="false" />
  </targets>
  <rules>
    <!-- Avoid logging to incorrect folder before the logging initialization is done. If you want to see those logging messages, comment out this line, but your log file will be somewhere else. -->
    <logger name="*" minlevel="Debug" writeTo="null" final="true" />
   
    <!--=============== STRATIS FN SECTION ===============-->        
    <logger name="Stratis.Bitcoin.Features.Api.*" minlevel="Debug" writeTo="debugApiFile" />

    <logger name="Stratis.Bitcoin.Features.BlockStore.*" minlevel="Debug" writeTo="debugBlockStoreFile" />

    <logger name="Stratis.Bitcoin.Features.Consensus.*" minlevel="Debug" writeTo="debugConsensusFile" />
    <logger name="Stratis.Bitcoin.Consensus.*" minlevel="Debug" writeTo="debugConsensusFile" />
    
    <logger name="Stratis.Bitcoin.Features.Dns.*" minlevel="Debug" writeTo="debugDnsFile" />

    <logger name="Stratis.Bitcoin.Features.LightWallet.*" minlevel="Debug" writeTo="debugLightWalletFile" />

    <logger name="Stratis.Bitcoin.Features.MemoryPool.*" minlevel="Debug" writeTo="debugMemoryPoolFile" />

    <logger name="Stratis.Bitcoin.Features.Miner.*" minlevel="Debug" writeTo="debugMinerFile" />

    <logger name="Stratis.Bitcoin.Features.Notifications.*" minlevel="Debug" writeTo="debugNotificationsFile" />

    <logger name="Stratis.Bitcoin.Features.RPC.*" minlevel="Debug" writeTo="debugRPCFile" />

    <logger name="Stratis.Bitcoin.Features.Wallet.*" minlevel="Debug" writeTo="debugWalletFile" />

    <logger name="Stratis.Bitcoin.Features.WatchOnlyWallet.*" minlevel="Debug" writeTo="debugWatchOnlyWalletFile" />

    <logger name="Stratis.Bitcoin.Base.*" minlevel="Debug" writeTo="debugBaseFile" /> 
    <logger name="Stratis.Bitcoin.Configuration.*" minlevel="Debug" writeTo="debugBaseFile" /> 

    <logger name="Stratis.Bitcoin.BlockPulling.*" minlevel="Debug" writeTo="debugBlockPullerFile" />
    <logger name="Stratis.Bitcoin.Connection.*" minlevel="Debug" writeTo="debugP2pFile" />
    
    <logger name="Stratis.Bitcoin.P2P.*" minlevel="Debug" writeTo="debugP2pFile" />
    
    <!--=============== FEDERATION SECTION ===============-->
	
	<!-- Collateral -->
    <logger name="Stratis.Features.Collateral.*" minlevel="Debug" writeTo="debugFederationGatewayFile" />
	
    <!-- Federation -->
    <logger name="Stratis.Features.FederatedPeg.*" minlevel="Debug" writeTo="debugFederationGatewayFile" />
  
    <!-- PoA -->
    <logger name="Stratis.Bitcoin.Features.PoA.*" minlevel="Debug" writeTo="debugPOAFile" />

    <!-- SmartContracts -->
    <logger name="Stratis.SmartContracts.CLR.*" minlevel="Debug" writeTo="debugSmartcontractsfile" />

    <logger name="Stratis.SmartContracts.Core.*" minlevel="Debug" writeTo="debugSmartcontractsfile" />

    <logger name="Stratis.SmartContracts.Networks.*" minlevel="Debug" writeTo="debugSmartcontractsfile" />

    <logger name="Stratis.SmartContracts.RuntimeObserver.*" minlevel="Debug" writeTo="debugSmartcontractsfile" />

    <logger name="Stratis.Bitcoin.Features.SmartContracts.*" minlevel="Debug" writeTo="debugSmartcontractsfile" />

  </rules>
</nlog>
