<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<targets>

		<target xsi:type="File"
						name="debugSmartContractClrFile"
						fileName="debugSmartContractClr.txt"
						layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}"
						encoding="utf-8"
						archiveNumbering="DateAndSequence"
						archiveAboveSize="100000000"/>

		<target xsi:type="File"
						name="debugSmartContractCoreFile"
						fileName="debugSmartContractCore.txt"
						layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}"
						encoding="utf-8"
						archiveNumbering="DateAndSequence"
						archiveAboveSize="100000000"/>

		<target xsi:type="File"
						name="debugSmartContractNetworksFile"
						fileName="debugSmartContractNetworks.txt"
						layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}"
						encoding="utf-8"
						archiveNumbering="DateAndSequence"
						archiveAboveSize="100000000"/>

		<target xsi:type="File"
						name="debugSmartContractRuntimeObserverFile"
						fileName="debugSmartContractRuntimeObserver.txt"
						layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}"
						encoding="utf-8"
						archiveNumbering="DateAndSequence"
						archiveAboveSize="100000000"/>    

		<target xsi:type="null" name="null" formatMessage="false" />
	</targets>

	<rules>
		<!--
		<logger name="Stratis.SmartContracts.CLR.*" minlevel="Trace" writeTo="debugSmartContractClrFile" />
		<logger name="Stratis.SmartContracts.Core.*" minlevel="Trace" writeTo="debugSmartContractCoreFile" />
		<logger name="Stratis.SmartContracts.Networks.*" minlevel="Trace" writeTo="debugSmartContractNetworksFile" />
		<logger name="Stratis.SmartContracts.RuntimeObserver.*" minlevel="Trace" writeTo="debugSmartContractRuntimeObserverFile" />
		-->
	</rules>
</nlog>