<?xml version="1.0" encoding="utf-8" ?>
<!-- This is an example logging config file that enables details logs for every part of the codebase. Logs are kept for 14 days. -->
<!-- For an explanation on how to use this file, go to https://github.com/stratisproject/StratisBitcoinFullNode/blob/master/Documentation/using-logging.md. -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets> 
    <!-- ALL -->
    <target name="debugAllFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000">
      <target xsi:type="File" fileName="debug.txt" archiveNumbering="Date" maxArchiveFiles="14" archiveEvery="Day" layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}" encoding="utf-8" /> 
    </target>
    <target xsi:type="null" name="null" formatMessage="false" /> 
  </targets>
  <rules>
    <!-- In order to turn on logging, set the minLevel to either Trace (log everything), Debug, Info, Warn, Error or Fatal.
    The change can be done while the node is running, just by editing and saving this file. -->
    <logger name="*" minlevel="Off" writeTo="null" final="true" />
    <logger name="*" minlevel="Off" writeTo="debugAllFile" />
  </rules>
</nlog>