<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> 
    <add key="StratisNewD" value="https://stratisplatformuk.pkgs.visualstudio.com/_packaging/stratis-newdir/nuget/v3/index.json" />
    <add key="powershell-core" value="https://powershell.myget.org/F/powershell-core/api/v3/index.json" />
  </packageSources>
</configuration>