<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
   
    <!-- BLOCK STORE -->
    <target name="debugBlockStoreFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000">
      <target xsi:type="File" fileName="blockstore.txt" archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Day" layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}" encoding="utf-8" />
    </target>

    <!-- CONSENSUS -->
    <target name="debugConsensusFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000">
      <target xsi:type="File" fileName="consensus.txt" archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Day" layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}" encoding="utf-8" />
    </target>
    <target name="debugCoinViewsFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000">
      <target xsi:type="File" fileName="coinview.txt" archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Day" layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}" encoding="utf-8" />
    </target>

    <!-- MINER -->
    <target name="debugMinerFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000">
      <target xsi:type="File" fileName="miner.txt" archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Day" layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}" encoding="utf-8" />
    </target>

    <!-- CMB -->
    <target name="debugCMBFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000">
      <target xsi:type="File" fileName="CBM.txt" archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Day" layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}" encoding="utf-8" />
    </target>

    <target xsi:type="null" name="null" formatMessage="false" />
  </targets>
  <rules>
    <!-- Avoid logging to incorrect folder before the logging initialization is done. If you want to see those logging messages, comment out this line, but your log file will be somewhere else. -->
    <logger name="*" minlevel="Trace" writeTo="null" final="true" />

    <logger name="Stratis.Bitcoin.Features.BlockStore.*" minlevel="Debug" writeTo="debugBlockStoreFile" />

    <logger name="Stratis.Bitcoin.Features.Consensus.*" minlevel="Debug" writeTo="debugConsensusFile" />
    <logger name="Stratis.Bitcoin.Consensus.*" minlevel="Debug" writeTo="debugConsensusFile" />
    <logger name="Stratis.Features.FederatedPeg.Collateral.CheckCollateralFullValidationRule" minlevel="Debug" writeTo="debugConsensusFile" />

    <logger name="Stratis.Bitcoin.Features.Consensus.CoinViews.*" minlevel="Debug" writeTo="debugCoinViewsFile" />

    <logger name="Stratis.Bitcoin.Features.Miner.*" minlevel="Debug" writeTo="debugMinerFile" />
    <logger name="Stratis.Bitcoin.Features.PoA.PoAMiner" minlevel="Debug" writeTo="debugMinerFile" />
    <logger name="Stratis.Features.FederatedPeg.Collateral.CollateralPoAMiner" minlevel="Debug" writeTo="debugMinerFile" />

    <logger name="Stratis.Bitcoin.Consensus.ConsensusManagerBehavior" minlevel="Debug" writeTo="debugCMBFile" />
    <logger name="Stratis.Bitcoin.Features.Consensus.Behaviors.ProvenHeadersConsensusManagerBehavior" minlevel="Debug" writeTo="debugCMBFile" />
    <logger name="Stratis.Bitcoin.Features.PoA.Behaviors.PoAConsensusManagerBehavior" minlevel="Debug" writeTo="debugCMBFile" />
  </rules>
</nlog>